@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="IndexBox">
    <h1>We are Flockbuster</h1>
    
    <div class="IndexImgBox">
        <img src="./Images/FbIMG.png" height="469" width="500" />
    </div>
    <div class="Slogan">
        <h5>Rent movies just like the old days. Visit our store downtown, and enjoy your movie-night.</h5>
    </div>
</div>